:root {
	--ion-color-primary: #3b82f6;
	--ion-color-primary-rgb: 59,130,246;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #3472d8;
	--ion-color-primary-tint: #4f8ff7;

	--ion-color-secondary: #0284c7;
	--ion-color-secondary-rgb: 2,132,199;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #0274af;
	--ion-color-secondary-tint: #1b90cd;

	--ion-color-tertiary: #6366f1;
	--ion-color-tertiary-rgb: 99,102,241;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #575ad4;
	--ion-color-tertiary-tint: #7375f2;

	--ion-color-success: #22c55e;
	--ion-color-success-rgb: 34,197,94;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #1ead53;
	--ion-color-success-tint: #38cb6e;

	--ion-color-warning: #facc15;
	--ion-color-warning-rgb: 250,204,21;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dcb412;
	--ion-color-warning-tint: #fbd12c;

	--ion-color-danger: #dc2626;
	--ion-color-danger-rgb: 220,38,38;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c22121;
	--ion-color-danger-tint: #e03c3c;

	--ion-color-light: #f4f4f5;
	--ion-color-light-rgb: 244,244,245;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d7d8;
	--ion-color-light-tint: #f5f5f6;

	--ion-color-medium: #52525b;
	--ion-color-medium-rgb: 82,82,91;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #484850;
	--ion-color-medium-tint: #63636b;

	--ion-color-dark: #181818;
	--ion-color-dark-rgb: 24,24,24;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #151515;
	--ion-color-dark-tint: #2f2f2f;

}